// _utilities.scss
$utilities: (
  "display": (
    responsive: true,
    property: display,
    class: d,
    values: (
      none: none,
      inline: inline,
      inline-block: inline-block,
      block: block,
      grid: grid,
      flex: flex,
      inline-flex: inline-flex,
    ),
  ),
  "color": (
    property: color,
    class: text,
    values: $custom-colors,
  ),
  "font-size": (
    responsive: true,
    property: font-size,
    class: fs,
    values: (
      1: $h1-font-size,
      2: $h2-font-size,
      3: $h3-font-size,
      4: $h4-font-size,
      p: $p-font-size,
      p-small: $p-font-small,
    ),
  ),
  "margin": (
    responsive: true,
    property: margin,
    class: m,
    values: map-merge($spacers, map-get-negative($spacers)),
  ),
  "margin-x": (
    responsive: true,
    property: margin-right margin-left,
    class: mx,
    values: map-merge($spacers, map-get-negative($spacers)),
  ),
  "margin-y": (
    responsive: true,
    property: margin-top margin-bottom,
    class: my,
    values: map-merge($spacers, map-get-negative($spacers)),
  ),
  "margin-top": (
    responsive: true,
    property: margin-top,
    class: mt,
    values: map-merge($spacers, map-get-negative($spacers)),
  ),
  "margin-right": (
    responsive: true,
    property: margin-right,
    class: me,
    values: map-merge($spacers, map-get-negative($spacers)),
  ),
  "margin-bottom": (
    responsive: true,
    property: margin-bottom,
    class: mb,
    values: map-merge($spacers, map-get-negative($spacers)),
  ),
  "margin-left": (
    responsive: true,
    property: margin-left,
    class: ms,
    values: map-merge($spacers, map-get-negative($spacers)),
  ),
  "padding": (
    responsive: true,
    property: padding,
    class: p,
    values: $spacers,
  ),
  "padding-x": (
    responsive: true,
    property: padding-right padding-left,
    class: px,
    values: $spacers,
  ),
  "padding-y": (
    responsive: true,
    property: padding-top padding-bottom,
    class: py,
    values: $spacers,
  ),
  "padding-top": (
    responsive: true,
    property: padding-top,
    class: pt,
    values: $spacers,
  ),
  "padding-right": (
    responsive: true,
    property: padding-right,
    class: pe,
    values: $spacers,
  ),
  "padding-bottom": (
    responsive: true,
    property: padding-bottom,
    class: pb,
    values: $spacers,
  ),
  "padding-left": (
    responsive: true,
    property: padding-left,
    class: ps,
    values: $spacers,
  ),
  "background-color": (
    property: background-color,
    class: bg,
    values: $custom-colors,
  ),
  "object-fit": (
    responsive: true,
    property: object-fit,
    class: object-fit,
    values: (
      contain: contain,
      cover: cover,
      fill: fill,
      scale: scale-down,
      none: none,
    ),
  ),
  "width": (
    responsive: true,
    property: width,
    class: w,
    values: (
      100: 100%,
      auto: auto,
    ),
  ),
  "height": (
    responsive: true,
    property: height,
    class: h,
    values: (
      119: 119px,
      234: 234px,
      100: 100%,
      auto: auto,
    ),
  ),
  "gap": (
    responsive: true,
    property: gap,
    class: gap,
    values: $spacers,
  ),
  "font-weight": (
    property: font-weight,
    class: fw,
    values: $font-weights,
  ),
  "border-radius": (
    responsive: true,
    property: border-radius,
    class: rounded,
    values: (
      null: 12px,
      0: 0,
      4: 4px,
    ),
  ),
  "shadow": (
    property: box-shadow,
    class: shadow,
    values: (
      null: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    ),
  ),
  "text-align": (
    responsive: false,
    property: text-align,
    class: text,
    values: (
      left: left,
      center: center,
      right: right,
      justify: justify,
    ),
  ),
  // Grid columns
  "grid-template-columns":
    (
      responsive: true,
      property: grid-template-columns,
      class: grid-cols,
      values: (
        1: repeat(1, minmax(0, 1fr)),
        2: repeat(2, minmax(0, 1fr)),
        3: repeat(3, minmax(0, 1fr)),
        4: repeat(4, minmax(0, 1fr)),
        5: repeat(5, minmax(0, 1fr)),
        none: none,
      ),
    ),
  "align-items": (
    responsive: true,
    property: align-items,
    class: align,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    ),
  ),
  "justify-content": (
    responsive: true,
    property: justify-content,
    class: justify,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
    ),
  ),
  "position": (
    responsive: true,
    property: position,
    class: position,
    values: (
      static: static,
      relative: relative,
      absolute: absolute,
      fixed: fixed,
      sticky: sticky,
    ),
  ),
  "overflow": (
    responsive: true,
    property: overflow,
    class: overflow,
    values: (
      hidden: hidden,
      inherit: inherit,
    ),
  ),
  "right": (
    responsive: true,
    property: right,
    class: right,
    values: (
      0: 0,
      auto: auto,
    ),
  ),
);
