/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

video {
	width: 100%;
}

html {
	scroll-behavior: smooth;
	scroll-padding: 50px;

	@media only screen and (min-width: 1024px) {
		scroll-padding: 10px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

a,
button {
	cursor: pointer;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin: 0;
	padding: 0;
	@extend .bg-gray-100;
	-webkit-font-smoothing: antialiased;
}

.font {
	.texto {
		font-family: "Sintony", Arial, Helvetica, sans-serif;
	}

	.titulo {
		font-family: "Noto Sans JP", sans-serif;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Noto Sans JP", sans-serif;
	margin: 0 !important;
	line-height: normal;
}

p {
	font-family: "Sintony", Arial, Helvetica, sans-serif;
}

strong {
	font-weight: 700;
}

.swiper {
	@extend .d-none;

	&-initialized {
		@extend .d-block;
	}

	&-pagination {
		&-bullet {
			width: 16px;
			height: 16px;
			@extend .bg-black;
		}

		&-blanco {
			.swiper-pagination-bullet {
				@extend .bg-white;
			}
		}

		&-negro {
			.swiper-pagination-bullet {
				@extend .bg-black;
			}
		}
	}
}

.container {
	&-swiper {
		max-width: 1240px;
		margin: 0 auto;
		padding: 0 8px;
	}
}

.img-fluid,
.img-thumbnail {
	height: auto;
	width: 100%;
}

.btn {
	font-family: "Sintony", Arial, Helvetica, sans-serif;
	@extend .py-14, .px-24, .rounded-4, .fw-bold;
	&-primary {
		@extend .bg-green, .text-white;
	}
}

.noticia {
	&Destacada {
		a {
			line-height: 22px;
		}
	}

	&Destacadas {
		h2,
		.fs-p-small {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		h2 {
			-webkit-line-clamp: 5;
		}

		.fs-p-small {
			-webkit-line-clamp: 6;
		}

		img {
			height: 139px !important;
		}

		a {
			line-height: 22px;
			@extend .fs-p-small;
		}
	}

	&Recientes {
		h2,
		.fs-p-small {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		h2 {
			-webkit-line-clamp: 5;
		}

		.fs-p-small {
			-webkit-line-clamp: 6;
		}

		img {
			height: 230px !important;
		}

		a {
			line-height: 22px;
			@extend .fs-p-small;
		}
	}
}

.icono {
	@extend .d-inline-block;
	width: 24px;
	height: 24px;
	background-position: center;
	background-repeat: no-repeat;

	&-flecha {
		background-image: url(../../images/iconos/icono-flecha.svg);
	}

	&-calendario {
		background-image: url(../../images/iconos/icono-calendario.svg);
	}

	&-ubicacion {
		background-image: url(../../images/iconos/icono-ubicacion.svg);
	}

	&-hora {
		background-image: url(../../images/iconos/icono-hora.svg);
	}

	&-usuario {
		background-image: url(../../images/iconos/icono-usuario.svg);
	}
}

.titulo-linea {
	display: flex;
	align-items: center;
	gap: 15px;
}

.linea {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.punto {
	width: 8px;
	height: 8px;
	background-color: #ccc;
	border-radius: 50%;
}

.barra {
	flex-grow: 1;
	height: 2px;
	background-color: #ccc;
}

.recent-featured-news {
	border-right: 1px solid #ccc;
}

.container-recent-news > div:last-child .recent-featured-news {
	border: none;
}

.recent-featured-news p {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
}

.recent-featured-news h4 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
